<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>图</title>
</head>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

<body>
<!-- 显示Echarts图表 -->
<div style="height:410px;min-height:100px;margin:0 auto;" id="main"></div>

<script type="text/javascript" th:inline="javascript">

    var data1 = [[${data}]];
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'A-C'
        },
        tooltip: {},
        legend: {
            data:['salary']
        },
        xAxis: {
            data: data1.keyList
        },
        yAxis: {},
        series: [{
            name: 'jx',
            type: 'line',
            itemStyle : { normal: {label : {show: true}}},
            data: data1.valueList
        },


            {
                name: 'jx',
                type: 'line',
                itemStyle : { normal: {label : {show: true}}},
                data: data1.valueListC
            }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>